<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security5"
      lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <title>Director list</title>
</head>
<body>
<div class="container" style="margin: 0 auto;">
    <div class="row">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" th:href="@{'/'}">Strichka</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="/actor">Actors</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="/director">Directors</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/user">Users</a>
                        </li>
                        <li sec:authorize="hasAuthority('ADMIN')" class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Add
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <li><a class="dropdown-item" th:href="@{/save}">Movie</a></li>
                                <li><a class="dropdown-item" th:href="@{/actor/save}">Actor</a></li>
                                <li><a class="dropdown-item" th:href="@{/director/save}">Director</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <span class="navbar-text" style="margin-right: 10px; font-size: large; color: white">
                    <a th:href="@{|/user/update/${#authentication.principal.id}|}" th:text="'Hello,' + ' ' + ${#authentication.getName()}"> </a>
                </span>
                <span class="navbar-text">
                <form method="get" action="/logout">
                <button class="btn btn-light btn-block" type="submit">Logout</button>
                </form>
                </span>
            </div>
        </nav>
    </div>
    <div class="row">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Full name</th>
                <th sec:authorize="hasAuthority('ADMIN')" colspan="2">Operation</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="director : ${directors}">
                <td><a th:href="@{'/director/'+ ${director.id}}" th:text="${director.firstName + ' ' + director.lastName}"></a></td>
                <span sec:authorize="hasAuthority('ADMIN')">
                <td>
                    <a th:href="@{|/director/update/${director.id}|}">Edit</a>
                </td>
                <td>
                    <a th:href="@{|/director/delete/${director.id}|}">Remove</a>
                </td>
                </span>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
</body>
</html>




